<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WebPage</title>
  <style>
    .btn-secondary{
      background-color:#F5F5F5;
      color:#000;
    }
  </style>
  <style>
  .card-header{
    background-color:#808080;
    }
  </style>
  <style>
    .card-header1{
      background-color:#D3D3D3;
    }
  </style>
  </head>
  <body>
  <div class="container bg-grey">



    <div class="row mb-4">
      <div class="col-1">
      </div>
    
      <div class="col-10">
        <div class="card">
          <div class="card-header1">  
            <h4 style='font-size: 20px'>Blacklist</h4>
            </div>
            <div class="card-body">
              <div class="card float-left " style="width: 100%" >
                
              <div class="card-body float-left" style="height:auto; min-height: 100px;">
                <i style='font-size:40px;' class='fas' ></i>
                <h5 class="card-title" style='font-size: 20px'>Ignacia Urrutia Cáceres</h5>
              </div>
            </div>


          
        </div>
      </div>
      <div class="col-1"> 
      </div>
    </div>

    <div class="row">
      <div class="col-1">
      </div>

    </div>

  </div>
</body>
</html>


